<div class="cekTransaksi">
  <div class="transaksi">
    <h2>Cek Invoice Kamu Dengan Mudah Dan Cepat</h2>
    <p>Lihat Detail Pembelian Kamu Menggunakan Nomor Invoice</p>
    <div class="cardTransaksi">
      <label for="invoice-input">Cari Detail Pembelian Kamu Disini</label>
      <div class="isiTransaksi">
        <input type="text" id="invoice-input" placeholder="Masukkan Nomor Invoice Kamu" />
        <button id="cari">Cari Invoice</button>
      </div>
    </div>
  </div>
</div>
