<main class="game-sec container mt-4">
  <div class="product-container">
    <section class="product-info">
      <section class="product-detail">
        <div class="product-detail-banner-container" style="width: 431px; height: 162px">
          <img src="images/val-logo.jpeg" alt="" class="product-detail-banner" style="width: 100%; height: 100%; object-fit: cover; border-radius: 6px" />
        </div>
        <div class="product-detail-description">
          <h2 class="product-detail-name">Honor Of Kings</h2>
          <div class="product-detail-tag-container">
            <div class="product-detail-icon-tag">
              <p>Pembayaran yang Aman</p>
            </div>
            <div class="product-detail-icon-tag">
              <p>Butuh Bantuan?</p>
            </div>
          </div>
        </div>
        <div class="preview-transaksi"></div>
      </section>
    </section>
    <section class="product-form-purchase">
      <form class="product-form-container" action="#" name="gameUser">
        <section class="form-section-container">
          <div class="form-section-container-topbar">
            <p class="step-number">1</p>
            <h2 class="title-bar">Masukan ID Game</h2>
          </div>
          <div class="form-section-container-main">
            <div class="form-section">
              <label for="game-id">HOK ID</label>
              <input class="form-section-input" id="game-id" type="text" placeholder="Masukkan ID Game" autocomplete="off" />
              <p class="note-id">buka profile/avatar anda kemudian klik pengaturan di bagian kanan atas dan pilih "Lihat UID"</p>
            </div>
          </div>
        </section>
        <section class="form-section-container">
          <div class="form-section-container-topbar">
            <p class="step-number">2</p>
            <h2 class="title-bar">Pilih Nominal TopUp</h2>
          </div>
          <div class="form-section-container-main">
            <p>Special Items</p>
            <div class="form-section">
              <div class="form-section-card">
                <div class="card-container" onclick="updatePayBill(12592)">
                  <div class="card-item">
                    <div class="points">Weekly Card</div>
                    <div class="items-price">Rp 12.592</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/twilight.jpg" alt="" />
                  </div>
                </div>
                <div class="card-container" onclick="updatePayBill(41007)">
                  <div class="card-item">
                    <div class="points">Weekly Card Plus</div>
                    <div class="items-price">Rp 41.007</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/twilight.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-section-container-main">
            <p>Top Up Instant</p>
            <div class="form-section">
              <div class="form-section-card">
                <div class="card-container" onclick="updatePayBill(1397)">
                  <div class="card-item">
                    <div class="points">8 Tokens</div>
                    <div class="items-price">Rp 1.397</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/diamond.jpg" alt="" />
                  </div>
                </div>
                <div class="card-container" onclick="updatePayBill(2793)">
                  <div class="card-item">
                    <div class="points">17 (16+1) Tokens</div>
                    <div class="items-price">Rp 2.793</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/diamond.jpg" alt="" />
                  </div>
                </div>
                <div class="card-container" onclick="updatePayBill(3927)">
                  <div class="card-item">
                    <div class="points">25 (23+2) Tokens</div>
                    <div class="items-price">Rp 3.927</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/diamond.jpg" alt="" />
                  </div>
                </div>
                <div class="card-container" onclick="updatePayBill(12592)">
                  <div class="card-item">
                    <div class="points">88 (80+8) Tokens</div>
                    <div class="items-price">Rp 12.592</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/diamond.jpg" alt="" />
                  </div>
                </div>
                <div class="card-container" onclick="updatePayBill(41007)">
                  <div class="card-item">
                    <div class="points">257 (240+17) Tokens</div>
                    <div class="items-price">Rp 41.007</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/diamond.jpg" alt="" />
                  </div>
                </div>
                <div class="card-container" onclick="updatePayBill(69799)">
                  <div class="card-item">
                    <div class="points">432 (400+32) Tokens</div>
                    <div class="items-price">Rp 69.799</div>
                  </div>
                  <div class="logo-container">
                    <img class="logo-items" src="/images/diamond.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form-section-container">
          <div class="form-section-container-topbar">
            <p class="step-number">3</p>
            <h2 class="title-bar">Metode Pembayaran</h2>
          </div>
          <div class="form-section-container-main">
            <div class="form-section">
              <div class="form-section-card">
                <div class="card-container">
                  <div class="card-items">
                    <img class="logo-items-pay" src="/images/gopaylogo.png" alt="" />
                    <div class="pay-bill" id="pay-bill">Rp 0</div>
                  </div>
                </div>
                <div class="card-container">
                  <div class="card-items">
                    <img class="logo-items-pay" src="/images/shopeepaylogo.png" alt="" />
                    <div class="pay-bill" id="pay-bill">Rp 0</div>
                  </div>
                </div>
                <div class="card-container">
                  <div class="card-items">
                    <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                    <div class="pay-bill" id="pay-bill">Rp 0</div>
                  </div>
                </div>
                <div class="card-container">
                  <div class="card-items">
                    <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                    <div class="pay-bill" id="pay-bill">Rp 0</div>
                  </div>
                </div>
                <div class="card-container">
                  <div class="card-items">
                    <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                    <div class="pay-bill" id="pay-bill">Rp 0</div>
                  </div>
                </div>
                <div class="card-container">
                  <div class="card-items">
                    <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                    <div class="pay-bill" id="pay-bill">Rp 0</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form-section-container">
          <div class="form-section-container-topbar">
            <p class="step-number">4</p>
            <h2 class="title-bar">Kontak Anda</h2>
          </div>
          <div class="form-section-container-main">
            <div class="form-section">
              <label for="game-id">Opsional: Jika anda ingin mendapatkan bukti pembayaran atas pembelian anda, harap mengisi alamat emailnya</label>
              <input class="form-section-input" id="game-id" type="text" placeholder="Alamat E-mail" autocomplete="off" style="width: 100%" />
            </div>
          </div>
        </section>
      </form>
    </section>
  </div>
</main>

<script>
  function updatePayBill(amount) {
    const formatCurrency = (number) => {
      return "Rp " + number.toLocaleString("id-ID");
    };

    const payBills = document.querySelectorAll("#pay-bill");
    payBills.forEach((payBill) => {
      payBill.textContent = formatCurrency(amount);
    });
  }

  document.querySelectorAll(".card-container .card-item").forEach((card, index) => {
    card.addEventListener("click", () => {
      const prices = [12592, 41007];
      updatePayBill(prices[index]);
    });
  });
</script>
