<div class="carousel-container">
  <div id="carouselExampleAutoPlaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/fri.jpg" class="d-block" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/images/fri2.jpeg" class="d-block" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/images/fri.jpg" class="d-block" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoPlaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoPlaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="daftarGame">
  <h2>Tersedia Semua Pilihan Game</h2>
  <p>Top Up Sekarang Juga & Jadilah Sultan Di Dalam Game</p>
  <div class="grid">
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Mobile Legends" />
      </div>
      <h3>Mobile Legends</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Mobile Legends Promo" />
      </div>
      <h3>Paket Irit Mobile Legends</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="PUBG Mobile" />
      </div>
      <h3>PUBG Mobile</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Free Fire" />
      </div>
      <h3>Free Fire</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Free Fire Max" />
      </div>
      <h3>Free Fire Max</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Honor of Kings" />
      </div>
      <h3>Honor of Kings</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Age of Empires" />
      </div>
      <h3>Age of Empires</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Point Blank" />
      </div>
      <h3>Point Blank</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Magic Chess" />
      </div>
      <h3>Magic Chess</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Metal Slug Awakening" />
      </div>
      <h3>Metal Slug Awakening</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Eggy Party" />
      </div>
      <h3>Eggy Party</h3>
    </div>
    <div class="card">
      <div class="snow-cap">
        <img src="/images/fri.jpg" alt="Call of Duty Mobile" />
      </div>
      <h3>Call of Duty Mobile</h3>
    </div>
  </div>
</div>
