<main class="game-sec container mt-4">
    <div class="product-container">
      <section class="product-info">
        <section class="product-detail">
          <div class="product-detail-banner-container" style="width: 431px; height: 162px">
            <img src="images/stumble-logo.png" alt="" class="product-detail-banner" style="width: 100%; height: 100%; object-fit: cover; border-radius: 6px" />
          </div>
          <div class="product-detail-description">
            <h2 class="product-detail-name">Valorant</h2>
            <div class="product-detail-tag-container">
              <div class="product-detail-icon-tag">
                <p>Pembayaran yang Aman</p>
              </div>
              <div class="product-detail-icon-tag">
                <p>Butuh Bantuan?</p>
              </div>
            </div>
          </div>
          <div class="preview-transaksi"></div>
        </section>
      </section>
      <section class="product-form-purchase">
        <form class="product-form-container" action="#" name="gameUser">
          <section class="form-section-container">
            <div class="form-section-container-topbar">
              <p class="step-number">1</p>
              <h2 class="title-bar">Masukan ID Game</h2>
            </div>
            <div class="form-section-container-main">
              <div class="form-section">
                <label for="game-id">Riot ID</label>
                <input class="form-section-input" id="game-id" type="text" placeholder="Masukkan ID Game" autocomplete="off" />
                <p class="note-id">Untuk menemukan Riot ID Anda, buka halaman profil akun dan salin Riot ID+Tag menggunakan tombol yang tersedia disamping Riot ID. (Contoh: Westbourne#SEA)</p>
              </div>
            </div>
          </section>
          <section class="form-section-container">
            <div class="form-section-container-topbar">
              <p class="step-number">2</p>
              <h2 class="title-bar">Pilih Nominal TopUp</h2>
            </div>
            <div class="form-section-container-main">
              <div class="form-section">
                <div class="form-section-card">
                  <div class="card-container" onclick="updatePayBill(55597)">
                    <div class="card-item">
                      <div class="points">475 VP</div>
                      <div class="items-price">Rp 55.597</div>
                    </div>
                    <div class="logo-container">
                      <img class="logo-items" src="/images/logovp.png" alt="" />
                    </div>
                  </div>
                  <div class="card-container" onclick="updatePayBill(111194)">
                    <div class="card-item">
                      <div class="points">1000 VP</div>
                      <div class="items-price">Rp 111.194</div>
                    </div>
                    <div class="logo-container">
                      <img class="logo-items" src="/images/logovp.png" alt="" />
                    </div>
                  </div>
                  <div class="card-container" onclick="updatePayBill(222385)">
                    <div class="card-item">
                      <div class="points">2050 VP</div>
                      <div class="items-price">Rp 222.385</div>
                    </div>
                    <div class="logo-container">
                      <img class="logo-items" src="/images/logovp.png" alt="" />
                    </div>
                  </div>
                  <div class="card-container" onclick="updatePayBill(386195)">
                    <div class="card-item">
                      <div class="points">3650 VP</div>
                      <div class="items-price">Rp 386.195</div>
                    </div>
                    <div class="logo-container">
                      <img class="logo-items" src="/images/logovp.png" alt="" />
                    </div>
                  </div>
                  <div class="card-container" onclick="updatePayBill(554968)">
                    <div class="card-item">
                      <div class="points">5350 VP</div>
                      <div class="items-price">Rp 554.968</div>
                    </div>
                    <div class="logo-container">
                      <img class="logo-items" src="/images/logovp.png" alt="" />
                    </div>
                  </div>
                  <div class="card-container" onclick="updatePayBill(1091072)">
                    <div class="card-item">
                      <div class="points">11000 VP</div>
                      <div class="items-price">Rp 1.091.072</div>
                    </div>
                    <div class="logo-container">
                      <img class="logo-items" src="/images/logovp.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="form-section-container">
            <div class="form-section-container-topbar">
              <p class="step-number">3</p>
              <h2 class="title-bar">Metode Pembayaran</h2>
            </div>
            <div class="form-section-container-main">
              <div class="form-section">
                <div class="form-section-card">
                  <div class="card-container">
                    <div class="card-items">
                      <img class="logo-items-pay" src="/images/gopaylogo.png" alt="" />
                      <div class="pay-bill" id="pay-bill">Rp 0</div>
                    </div>
                  </div>
                  <div class="card-container">
                    <div class="card-items">
                      <img class="logo-items-pay" src="/images/shopeepaylogo.png" alt="" />
                      <div class="pay-bill" id="pay-bill">Rp 0</div>
                    </div>
                  </div>
                  <div class="card-container">
                    <div class="card-items">
                      <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                      <div class="pay-bill" id="pay-bill">Rp 0</div>
                    </div>
                  </div>
                  <div class="card-container">
                    <div class="card-items">
                      <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                      <div class="pay-bill" id="pay-bill">Rp 0</div>
                    </div>
                  </div>
                  <div class="card-container">
                    <div class="card-items">
                      <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                      <div class="pay-bill" id="pay-bill">Rp 0</div>
                    </div>
                  </div>
                  <div class="card-container">
                    <div class="card-items">
                      <img class="logo-items-pay" src="/images/danalogo.png" alt="" />
                      <div class="pay-bill" id="pay-bill">Rp 0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="form-section-container">
            <div class="form-section-container-topbar">
              <p class="step-number">4</p>
              <h2 class="title-bar">Kontak Anda</h2>
            </div>
            <div class="form-section-container-main">
              <div class="form-section">
                <label for="game-id">Opsional: Jika anda ingin mendapatkan bukti pembayaran atas pembelian anda, harap mengisi alamat emailnya</label>
                <input class="form-section-input" id="game-id" type="text" placeholder="Alamat E-mail" autocomplete="off" style="width: 100%" />
              </div>
            </div>
          </section>
        </form>
      </section>
    </div>
  </main>
  
  <script>
    function updatePayBill(amount) {
      const formatCurrency = (number) => {
        return "Rp " + number.toLocaleString("id-ID");
      };
  
      const payBills = document.querySelectorAll("#pay-bill");
      payBills.forEach((payBill) => {
        payBill.textContent = formatCurrency(amount);
      });
    }
  
    document.querySelectorAll(".card-container .card-item").forEach((card, index) => {
      card.addEventListener("click", () => {
        const prices = [55597, 111194, 222385];
        updatePayBill(prices[index]);
      });
    });
  </script>
  