body {
  background-color: #212529;
}

.small {
  color: white;
}

.bahasa {
  background-color: #d1a875; /* Warna tombol */
  color: #000; /* Warna teks tombol */
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.bahasa:hover {
  background-color: #c29564;
}

.nav-cs{
  position: sticky; 
  background-color: rgba(51, 51, 51, 0.597);
  z-index: 1000; 
  top: 0;
  border-color: black;
  backdrop-filter: blur(10px);
}